body {
    font-family: Arial, Helvetica, sans-serif;
}

header, th{
    background-color: #003366;
}

h1, th {
    color: #ffd700;
}

h1, .head {
    text-transform: uppercase;
}

h1{
    text-align: center;
    padding: 10px;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 120%;
    background-color: #F9F9F9;
}

th,td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
}

.head {
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

footer {
    background-color: #6a5acd;
    margin: 10px auto;
}

p {
    font-size: 100%;
    padding: 5px;
    color: #ffffe0;
}